@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
body{
  padding: 0;
  margin: 0;
  background-color: #dee8e5;
  font-family: sans-serif;
}

/* Heading and navbar */
.header{
  width: 100%;
}
#title{
  background-color: #3e4344;
  text-align: center;
  color: #dee8e5;
  padding: 15px 10px;
}
.navbar{
  display: flex;
  justify-content: space-around;
}
.navbar .items{
  cursor: pointer;
  border: none;
  width: 100%;
  background-color: #8a918f;
  color: #fff;
  text-align: center;
  flex-wrap: wrap;
  transition: background-color 0.4s ease, color 0.4s ease;  
}
.items:hover{
  background-color: #3e4344;
  color: #dee8e5;
}
/* **************** */

/* Main Content of the tribute webpage */
/* Image section */
#img-div{
  text-align: center;
  background-color: #adadad;
  padding: 10px 10px;
  margin: 10px 20px;
}
#image{
  max-width: 100%;
  height: auto;
}
img{
  display: block;
}
#img-caption{
  padding: 5px 0;
}
/* ****************** */
/* Tribute Information */
.main{
  margin: 10px 20px;
  text-align: center;
  padding: 10px 20px;
}
a{
  text-decoration: none;
}
#tribute-link{
  color: #dee8e5;
  text-decoration: underline;
}
.footer{
  margin-top: 10px;
  padding: 20px 20px;
  text-align: center;
  background-color: #3e4344;
  color: #dee8e5;
}

/* **************** */
